.mat-sort-header-button {
   font-weight: bold !important;
   color: #000 !important;
   font-size: 15px !important;
}

.mat-dialog-container  {
   height: 75% !important;
   width: 150% !important;
}

.cdk-overlay-pane {
   width: 25% !important;
}