@import "../../../app.component.scss";

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header button {
  margin-left: 20%;
}

em {
  visibility: hidden;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

tr:hover em {
  visibility: visible;
}

table {
  width: 90%;
  min-width: 800px;
  margin-top: 3em;
}

.title {
  margin-left: 40%;
  font-size: 2em;
  font-weight: bold;
}

em.edit {
  margin-left: 33%;
}

em.more {
  margin-left: 10%;
}

.actionCell {
  padding-right: 0px !important;
}

.submitButton {
  background-color: #28527a !important;
  color: white !important;
}

.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

button {
  width: 231px;
  height: 40px;
}
