<div id="container">
  <div class="header">
    <span class="title">Pacientes</span>

    <button mat-flat-button color="primary" type="button" class="submitButton" (click)="addPatient()">
      Añadir paciente
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" aria-describedby="patients">

    <!-- Id Column -->
    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="Id"> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="Name"> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="Surname"> Apellidos</th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <!-- Birth date Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="Birth date"> Fecha de Nacimiento</th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Number of revisions date Column -->
    <ng-container matColumnDef="numberOfRevisions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="Number of revisions"> Nº de Revisiones</th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfRevisions}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th class="actionHeader" mat-header-cell *matHeaderCellDef id="actions"></th>
      <td mat-cell class="actionCell" *matCellDef="let element">
        <em class="material-icons edit">edit</em>
        <em class="material-icons more">more_vert</em>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>
  </table>

</div>
