<div id="content">
  <div class="headerContainer">

    <!-- ARROW BACK -->
    <div class="headerBack">
      <div id="splash">
        <div class="back">
          <span class="title">
            <span class="nombore" (click)="onBackClick()">
              <em class="material-icons backIcon">keyboard_arrow_left</em>
              <span class="backText">ATRAS</span>
              <span class="slider"></span>
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- PATIENT INFO -->
    <div class="patientInfo">
      <span class="username">{{ patientName }}</span><span
        class="identifier">{{ patientIdentifier }}</span>
    </div>
  </div>
  <div class="pageContent">

    <!-- PERSONAL DATA -->
    <div class="personalData">
      <span class="title">Datos Personales</span>
      <mat-card>
        <mat-card-content>
          <div class="inputs">
            <mat-form-field>
              <span class="titleInput">Nombre</span>
              <input matInput class="input" type="text" [(ngModel)]="patientName" id="name">
            </mat-form-field>
            <mat-form-field>
              <span class="titleInput">Apellidos</span>
              <input matInput class="input" type="text" [(ngModel)]="patientSurname" id="surname">
            </mat-form-field>
            <mat-form-field class="titleInput">
              <span>Fecha de Nacimiento</span>
              <input matInput class="input" type="text" value="{{ patientBirth | date: 'dd/MM/yyyy' }}"
                id="dateOfBirth">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- REVIEWS TABLE -->
    <div class="reviews">
      <span class="title">Listado de revisiones</span>
      <div class="reviewsCardContent">

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" aria-describedby="patients">

            <!-- Number Column -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="number"> Número</th>
              <td mat-cell *matCellDef="let element"> {{ element.number }} </td>
            </ng-container>

            <!-- Review Date Column -->
            <ng-container matColumnDef="reviewDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="reviewDate"> Fecha de revisión</th>
              <td mat-cell *matCellDef="let element"> {{ element.reviewDate | date: 'dd/MM/yyyy' }} </td>
            </ng-container>

            <!-- Doctor Column -->
            <ng-container matColumnDef="doctor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="doctor"> Atendio por</th>
              <td mat-cell *matCellDef="let element"> {{ element.doctor }} </td>
            </ng-container>

            <!-- Diagnosis date Column -->
            <ng-container matColumnDef="diagnosis">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="diagnosis"> Diagnosticó</th>
              <td mat-cell class="diagnosis" *matCellDef="let element"> {{ element.diagnosis }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"></tr>
          </table>

      </div>
    </div>
  </div>
</div>
