@import "../../../app.component.scss";

.headerContainer {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: flex-start;
   width: 100%;
}

.pageContent {
   display: flex;
   justify-content: space-between;
}

// --- BACK BUTTON ---

.headerBack {
   padding: 3%;
}

.headerBack .backText {
   font-family: Roboto;
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
   color: #7D7D7D;
}

.headerBack .backIcon {
   color:#7D7D7D;
   font-size: 30px;
}

#splash {
   background-color:#fafafa;
   z-index:999999;
   position:fixed;
}
.project-list .title span {
   font-family:'SabonNextLTPro-DemiItalic';
   font-size: 38px;
   line-height: 1.3;
   text-decoration: none;
   color: #232324;
   transition: all .3s ease-out;
   border-bottom: solid transparent 5px;
}
.slider {
   position: absolute;
   display:block;
   left: 0;
   top: 90%;
   margin:0 auto;
   height: 2px;
   background-color: #676567;
   width: 0%;
   transition: width 1s ease;
}
.nombore{
   position:relative;
   display: flex;
   align-items: center;
   width: fit-content;
   transition: all 0.3s ease-out;
}
.nombore:hover .slider {
   width: 100%;
}
.nombore:hover span {
   color: #676567;
}

.nombore:hover backIcon {
   color: #676567;
}

// --- INFO USER ---

.patientInfo {
   padding-top: 2%;
}

.patientInfo .username {
   padding: 0% 1% 0% 6%;
   font-family: Roboto;
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 0.26px;
   line-height: 36px;
   color: #28527A;
}

.patientInfo .identifier {
   padding: 0% 0% 0% 1%;
   border-left: 1px solid gray;
   color: #A4A4A4;
   font-family: Roboto;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: -0.03px;
   line-height: 17px;
}

// --- PERSONAL DATA ---

.personalData {
   margin: 4em 0em 0em 6em;
   width: 20%;
}

.personalData .title {
   font-family: Roboto;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.17px;
   line-height: 24px;
}

.personalData mat-card {
   margin-top: 1em;
}

.personalData .inputs{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.personalData .input {
   margin-top: 1em;
}

.titleInput {
   font-family: Roboto;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
}

mat-form-field {
   max-height: 88px;
   pointer-events: none;
}

// --- REVIEWS ---

.reviews {
   margin: 4em 24em 0em 0em;
}

.reviews .title {
   font-family: Roboto;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: 0.17px;
   line-height: 24px;
}

table {
   min-width: 800px;
}

.reviewsCardContent {
 margin-top: 1.1em;
}

table .diagnosis {
   font-weight: bold;
}