<div>
  <div class="title">
    <h3>NUEVO PACIENTE</h3>
  </div>

  <!-- FORM -->
  <form [formGroup]="addPatientForm" autocomplete="off" novalidate (ngSubmit)="addPatient(addPatientForm.value)"
    fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

    <!-- NAME -->
    <span class="titleInput">Nombre</span>
    <mat-form-field>
      <input matInput type="text" placeholder="Introduce su nombre" formControlName="name" id="name" required>
      <mat-hint>No mas de 60 caracteres.</mat-hint>
      <mat-error *ngIf="hasError('name', 'required')">El nombre es requerido</mat-error>
      <mat-error *ngIf="hasError('name', 'maxlength')">Has escirto mas de 60 caracteres</mat-error>
    </mat-form-field>

    <!-- SURNAME -->
    <span class="titleInput">Apellidos</span>
    <mat-form-field>
      <input matInput type="text" placeholder="Introduce sus apellidos" formControlName="surname" id="surname" required>
      <mat-hint>No mas de 60 caracteres.</mat-hint>
      <mat-error *ngIf="hasError('surname', 'required')">El apellido es requerido</mat-error>
      <mat-error *ngIf="hasError('surname', 'maxlength')">Has escirto mas de 60 caracteres</mat-error>
    </mat-form-field>

    <!-- DATE OF BIRTH -->
    <span class="titleInput">Fecha de Nacimiento</span>
    <mat-form-field class="date">
      <input matInput [matDatepicker]="picker" [max]="today" placeholder="Fecha de nacimiento"
        formControlName="dateOfBirth" id="dateOfBirth" readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- SUBMIT BUTTON -->
    <div class="buttons">
      <span class="cancelButton" (click)="onNoClick()">Cancelar</span>
      <button mat-raised-button color="primary" class="submitButton" [disabled]="!addPatientForm.valid">CREAR PACIENTE</button>
    </div>

  </form>
</div>
