mat-form-field {
    width: 100%;
}

.title {
   text-align: center;
}

.date {
   margin-top: 1em;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.submitButton {
   background-color: #28527A !important;
   color: white !important;
   width: 51%;
   margin-left: 10%;
}

.mat-button.mat-primary .mat-button-focus-overlay {
   background-color: transparent;
}

.buttons {
   width: 100%;
   margin-top: 15em;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.cancelButton {
   color: #6C87A2;
}

.titleInput {
   font-family: Roboto;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
   float: left;
   width: 100%;
   margin-top: 2%;
}